<header class="header container">
  <div class="header-container">
    <a class="link logo" href="index.html">
      <div class="logo-box">
        <svg class="icon icon-logo" width="24" height="24">
          <use href="./images/icomoon.svg#icon-logo"></use>
        </svg>
        <svg class="logo-text" width="77" height="13">
          <use href="./images/icomoon.svg#icon-bookshelf"></use>
        </svg></div
    ></a>
    <nav class="nav">
      <ul class="list">
        <li>
          <a class="link header-link current" href="./index.html">Home</a>
        </li>
        <li>
          <a class="link header-link current" href="./shopping-list.html">
            Shopping list</a
          >
        </li>
      </ul>
    </nav>

    <input type="checkbox" id="switch" /><label for="switch"></label>
    <!-- <div class="log-form">
      <img src="./images/user.svg" alt="avatar" /> Hello
    </div> -->
    <a class="log-form" href="">
      <svg class="icon-hello" width="30" height="30">
        <use href="./images/icomoon.svg#icon-vector"></use>
      </svg>
      Hello!
    </a>

    <!-- Irina Kolos-->
    <button
      class="menu-mobile-open js-open-menu"
      type="button"
      aria-label="Menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-mobile-open-icon" width="28" height="28">
        <use href="./images/icomoon.svg#icon-align-left"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="container mobil-menu-modal js-close-menu">
      <button
        class="mobile-menu-close js-close-menu"
        type="button"
        aria-label="Mobile menu"
      >
        <svg class="mobile-menu-close-icon" width="28" height="28">
          <use href="./images/icomoon.svg#icon-x-close"></use>
        </svg>
      </button>

      <a class="menu-log-form" href="">
        <svg class="menu-icon-hello" width="30" height="30">
          <use href="./images/icomoon.svg#icon-vector"></use>
        </svg>
        Hello!
      </a>

      <div class="menu-container">
        <ul class="mobil-nav-list list">
          <li class="mobil-nav-item-home">
            <a class="mobil-nav-link current link" href="./index.html">Home</a>
          </li>
          <li class="mobil-nav-item-shopping">
            <a class="mobil-nav-link link" href="./shopping-list.html"
              >Shopping list
              <svg class="mobil-lock" width="20" height="20">
                <use href="./images/icomoon.svg#icon-shopping-bag"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <button class="menu-login" type="button">
        Log out
        <svg class="arrow" width="20" height="20">
          <use href="./images/icomoon.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
