<div class="container-bestsellers" >
    <div class="right-wrapper" id="result-container">
       <h1 class="title-books">
      Best Sellers <span class="colored">Books</span>
    </h1>
    <div class="bestseller"></div>
  
  </div>
  </div>
  
   
  
      <!-- scroll -->
    <button
      class="scroll-button button go-top"
      type="button"
      aria-label="Scroll button"
    >
      <svg class="scroll-btn-icon" width="14" height="14">
        <use href="./images/icomoon.svg#icon-arrow-up"></use>
      </svg>
    </button>
  
