
<div class="container">
  <div class="right-wrapper">
    
      <h1 class="title_books">
        Best Sellers <span class="title_books_item">Books</span>
      </h1>
    </div>
    <div class="bestseller-list">
      <ul class="bestseller"></ul>
      <li class="book-item">
        <p class="book-categorie-choice"></p>
        <img class="book-wrap" src="" alt="book-wrapper">
        <p class="book-name"></p>
        <p class="book-author"></p>
      </li>
    </div>
  </div>
</div>


  <div class="left-wrapper">
    
    <include src="./partials/categories-book.html"></include>
    <include src="./partials/foundation.html"></include>
  </aside>
  </div>
 