

<div class="container">
  <div class="right-wrapper">
     <h1 class="title_books">
    Best Sellers <span class="colored">Books</span>
  </h1>
  <ul class="bestseller"></ul>
<!--       <h1 class="title_books">
        Best Sellers <span class="title_books_item">Books</span>
      </h1>
    </div>
    <div class="bestseller-list">
      <ul class="bestseller"></ul>
      <li class="book-item">
        <p class="book-categorie-choice"></p>
        <img class="book-wrap" src="" alt="book-wrapper">
        <p class="book-name"></p>
        <p class="book-author"></p>
      </li> -->
    </div>
  </div>
</div>


  <div class="left-wrapper">
    
    <include src="./partials/categories-book.html"></include>
    <include src="./partials/foundation.html"></include>
  </aside>
  </div>

    <!-- scroll -->
  <button
    class="scroll-button button go-top"
    type="button"
    aria-label="Scroll button"
  >
    <svg class="scroll-btn-icon" width="14" height="14">
      <use href="./images/icomoon.svg#icon-arrow-up"></use>
    </svg>
  </button>
 

