<div class="backdrop is-hidden" id="modalWindow">
  <div class="modalWindow-container">
    <button type="button" class="openModalLink" id="openModalLink">test</button>
    <button type="button" class="modalWindow-btn">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./images/icomoon.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modalWindow-add-book">
      <button type="button" class="modalWindow-add-btn">
        <p class="modalWindow-btn-text">add to shopping list</p>
        <p class="modalWindow-btn-text">remove from the shopping list</p>
      </button>
      <p class="modalWindow-text">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
