<div  class="backdrop is-hidden" data-modal>
    <div  class="book-info">
        <button  class="button-close-modal" type="button" data-modal-close>
            <svg  class="close-modal-icon" width="24" height="24">
                <use class="use" href="./images/icomoon.svg#icon-x-close">
                </use>
            </svg>
        </button>
        <button  class="button-to-shop" type="button">Add to shopping list</button>
    </div>
</div>


<!-- <div> class="book-wrap" onclick="openModal()">
    <img src="${book_image}" alt="${title}" />
    <div>
      <p class="book-name">${title}</p>
      <p class="book-author">${author}</p>
    </div>
  </div>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close-btn">&times;</span>
      <p>Вміст модального вікна</p>
    </div>
  </div> -->