<div class="backdrop is-hidden" id="modalWindow">
  <div class="modalWindow-container container">
    <button type="button" class="modalWindow-close">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./images/icomoon.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-card"></div>
    <div class="modalWindow-add-book">
      <div class="modalWindow-btn">
        <p class="modalWindow-btn-add">add to shopping list</p>
        <p class="modalWindow-btn-delete is-hidden">
          remove from the shopping list
        </p>
      </div>
      <p class="modalWindow-text is-hidden">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
