:root {
  --white-color: #ffffff;
  --black1-color: #000000;
  --black2-color: #202024;
  --yellow-color: #eac645;
  --violet-color: #4f2ee8;
}

body {
  /* text */
  font-family: 'DM Sans', sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;

  /* color */
  background-color: #f6f6f6;
  color: #111111;
}
.dark-theme {
  background-color: var(--black2-color);
  color: var(--white-color);
}
.dark-theme .header {
  background-color: var(--black1-color);
  color: var(--white-color);
  border: 1.5px solid var(--white-color);
}

.container {
  /* Phone styles */
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Tablet style */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
   
  }

}

@media only screen and (min-width: 768px) {
  .left-wrapper {
    display: flex;
   
  }
}

/* Desktop style */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    
  }
  .main-container{
display: flex;
  }
  .left-wrapper {
  flex-direction: column;
}
}

.scroll-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #836fde;
  fill: var(--yellow-color);
  border-radius: 30%;
  border: 1.5px solid var(--black1-color);
  display: none;
  cursor: pointer;
  transition: background-color 0.3s, fill 0.3s;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.scroll-button:hover {
  background-color: var(--violet-color);
}
@media only screen and (min-width: 768px) {
  .scroll-button {
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
  }
}

.scroll-button.show {
  display: block; /* Показуємо кнопку при прокрутці */
}
