.category_link:hover {
  cursor: pointer;
}

.dark-theme .category_link:hover {
  color: var(--yellow-color);
}

.categories {
  display: flex;
  width: auto;
  height: 228px;
}

.book_list {
  display: flex;
  width: 335px;
  height: 228px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  overflow-y: scroll;
}

.book_list::-webkit-scrollbar {
  width: 8px;
}

.book_list::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
}

.category_link.active-category {
  color: #4f2ee8;
  font-weight: 600;
  text-transform: uppercase;
}

.dark-theme .category_link.active-category {
  color: var(--yellow-color);
}

.uppercase {
  color: #4f2ee8;
  font-weight: 600;
  text-transform: uppercase;
}

.category_link {
  color: rgba(17, 17, 17, 0.6);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: -0.32px;
}

.dark-theme .category_link {
  color: rgba(255, 255, 255, 0.6);
}
.category_link.uppercase {
  color: #4f2ee8;
  font-weight: 700;
  text-transform: uppercase;
}

.category_item {
  height: 18px;
}

@media only screen and (min-width: 768px) {
  .categories {
    /* width: 337px; */
    width: 334px;
    height: 472px;
  }

  .book_list {
    width: 309px;
    height: 472px;
    gap: 32px;
  }

  .category_link {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }

  .category_item {
    height: 24px;
  }
}

/* Desktop style */
@media only screen and (min-width: 1280px) {
  .categories {
    width: 356px;
  }

  .book_list {
    width: 328px;
  }
}
