/**
  |============================
  | СТИЛІ ДО КАРТОК З ВИБРАНИМИ КНИГАМИ
  |============================
*/

.book-list {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.book-item {
  width: 218;
  height: 336;
}

.img-book {
  width: 218;
  height: 316;
}

/* .title-book {
}

.author-book {
} */
