.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 600ms ease-in-out, visibility 600ms ease-in-out;
}

.backdrop.is-hidden .modalWindow-container {
  transform: scale(0.9);
  transition: transform 300ms ease-in-out;
  opacity: 0;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  transition: opacity 700ms ease-in-out, visibility 700ms ease-in-out;
  background: #11111166;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow: hidden;
  z-index: 9999;
}

.modalWindow-container {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  opacity: 1;
  overflow: hidden;

  width: calc(100% - 40px);

  background-color: white;
  border: 2px solid rgba(17, 17, 17, 1);
  border-radius: 16px;
}

.modal-close-icon {
  stroke: rgb(0, 0, 0);
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover {
  stroke: rgba(79, 46, 232, 1);
}

.modalWindow-close {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--white-color);
}

.modal-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.modal-book-img {
  margin-top: 40px;
  border-radius: 8px;
}

.modal-info-box {
  width: 287px;
  margin-top: 14px;
}

.modal-book-title {
  color: rgba(17, 17, 17, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.04em;
}

.modal-book-author {
  margin-top: 4px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.modal-book-deskr {
  text-overflow: ellipsis;
  overflow: auto;
  scroll-behavior: smooth;
  height: 70px;
  margin-top: 18px;
  padding-right: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #111111;
}

.modal-book-links {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
}

.modalWindow-add-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.modalWindow-btn-1,
.modalWindow-btn-2 {
  margin: 40px 0 0;
  padding: 12px 28px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  background-color: var(--white-color);
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modalWindow-btn-1:hover,
.modalWindow-btn-1:focus,
.modalWindow-btn-2:hover,
.modalWindow-btn-2:focus {
  color: var(--white-color);
  background-color: #4f2ee8;
}

.modalWindow-btn:active {
  color: #4f2ee8;
  background-color: var(--white-color);
}

.modalWindow-btn-add,
.modalWindow-btn-delete {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.modalWindow-text {
  width: 242px;
  height: 36px;
  margin-top: 8px;
  margin-bottom: 40px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .modalWindow-container {
    width: 579px;
  }

  .modal-card {
    flex-direction: row;
    column-gap: 24px;
    align-items: flex-start;
  }

  .modalWindow-close {
    top: 24px;
    right: 24px;
  }

  .modal-close-icon {
    width: 28px;
    height: 28px;
  }

  .modal-book-img {
    width: 192px;
    height: 281px;
  }

  .modal-info-box {
    margin-top: 40px;
  }

  .modal-book-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.04em;
  }

  .modal-book-author {
    margin-top: 8px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .modal-book-deskr {
    width: 279px;
    height: 70px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .modal-book-links {
    margin-top: 20px;
  }

  .modalWindow-btn {
    margin: 40px 0;
  }

  .modalWindow-btn-1 {
    padding: 20px 150px;
  }

  .modalWindow-btn-2 {
    padding: 20px 100px;
  }

  .modalWindow-btn-add,
  .modalWindow-btn-delete {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.01em;
  }

  .modalWindow-text {
    width: 324px;
    height: 28px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.04em;
    text-align: center;
  }


}

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 1px solid #555555;
}