.container-book-shop {
    margin: 0 auto;

}

.book-shop {
    margin-top: 40px;

    min-width: 320px;
}

.book-shop-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;
}

.colored {
    color: var(--violet-color);
}

.support {
    display: none;
}

.empty-list {

    width: 265px;
    margin: 120px auto 0;

}

.empty-list-text {
    max-width: 244px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.01em;
}

.empty-list-img {
    margin: 0 auto;
}

/* --------BOOK CARD------------ */

.book-shop-list {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 335px;
}

.shop-list-item {
    position: relative;
    display: flex;
    gap: 14px;

    width: 100%;
    border: 2px solid #4F2EE866;
    border-radius: 16px;
    margin-bottom: 20px;
}

.icon-damp {
    position: absolute;
    top: 14px;
    right: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.shop-book-img {
    display: flex;
    border-radius: 8px;
    margin: 14px 0 14px 14px;
    height: 142px;
}

.info-box {
    width: 100%;
}

.book-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 144px;
    white-space: nowrap;
    margin-top: 14px;
    margin-bottom: 4px;

    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.04em;
}

.book-category {
    margin-bottom: 8px;

    text-overflow: ellipsis;
    overflow: hidden;
    width: 165px;
    white-space: nowrap;

    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #B4AFAF;
}

.book-deskr {
    width: 193px;
    height: 68px;
    margin-bottom: 17px;
    padding-right: 5px;

    text-overflow: ellipsis;
    overflow: auto;
    scroll-behavior: smooth;


    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.04em;
}

.bottom-card-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 14px;
    margin-bottom: 14px;

}

.book-author-bottom {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    white-space: nowrap;

    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #B4AFAF;

}

.book-links {
    display: flex;
    gap: 8px;
    align-items: center;
}

.link-1 {
    filter: grayscale(100%);
}

.link-1:hover,
.link-2:hover,
.link-3:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .35))
}

.link-2 {
    filter: grayscale(100%);
}

.link-3 {
    filter: grayscale(100%);
}

/* ------------/BOOK CARD------------- */
/* ------------MEDIA QUERRY----------- */

@media only screen and (min-width: 768px) {
    .book-shop {

        min-width: 704px;
    }

    .empty-list {
        width: 349px;
    }

    .empty-list-text {
        letter-spacing: -0.02em;
    }

    .book-shop-list {
        width: 704px;
    }

    .shop-list-item {
        width: 704px;
    }

    .shop-book-img {

        margin: 24px 0 0 24px;
        width: 128px;
        height: 170px;
    }

    .icon-damp {
        top: 24px;
        right: 24px;
        width: 34px;
        height: 34px;
    }

    .book-title {
        margin-top: 24px;
        width: 450px;
    }

    .book-category {
        margin-bottom: 14px;
        width: 450px;
    }

    .book-deskr {
        width: 508px;
        height: 53px;
        margin-bottom: 48px;
        line-height: 1.3;
    }

    .bottom-card-book {
        margin-bottom: 24px;
        padding-right: 24px;
    }

    .book-author-bottom {
        width: 100%;
    }

    .link-1 {
        width: 65px;
    }

    .link-2 {
        width: 38px;
    }

    .link-3 {
        width: 42px;
    }
}

@media only screen and (min-width: 1440px) {
    .container-book-shop {
        display: flex;
    }

    .support {
        display: block;
        width: 356px;
        height: 474px;
        margin-top: 40px;
        background-color: transparent;
    }

    .book-shop-list {
        width: 996px;
    }

    .shop-list-item {
        width: 100%;
    }

    .book-shop {
        margin-left: 40px;
    }

    .book-deskr {
        width: 808px;
    }



    #style-4::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    #style-4::-webkit-scrollbar {
        width: 2px;
        background-color: #F5F5F5;
    }

    #style-4::-webkit-scrollbar-thumb {
        background-color: #000000;
        border: 1px solid #555555;

    }
}

/* ----------------/MEDIA QUERRY---------------- */




.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}